<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room manager</title>
    <link rel="stylesheet" th:href="@{/style-room.css}">
</head>

<body>
<table width="100%" border="1">
    <tr height="70px">
        <td align="center">Itspartner</td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td>
            <h2>Создание комнаты: </h2>
            <form method="post" th:action="@{/room/create}" th:object="${createDto}" align="center">
                <label for="name">Название комнаты:</label>
                <input type="text" id="name" th:field="*{name}" placeholder="название">
                <br>
                <label for="country">Страна:</label>
                <input type="text" id="country" th:field="*{country}" placeholder="страна">
                <br>
                <input type="submit" value="Создать!">
            </form>
        </td>
    </tr>
</table>
</body>
</html>