<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room manager</title>
    <link rel="stylesheet" th:href="@{/style-room.css}">
</head>

<body>
<table width="100%" height="100px">
    <tr height="70px">
        <td align="center">Itspartner</td>
</table>
<table width="100%">
    <tr>
        <td align="center">
            <form method="get" th:action="@{/room}">
                <input type="submit" value="Создать комнату">
            </form>
        </td>
    </tr>
</table>

<hr>
<h2 align="center">Топ комнат:</h2>
<table width="100%"> <!-- В таблице будут все коллекции -->
    <tr class="colored-tr" th:each="room : ${rooms}"> <!-- Один TR = одна коллекция -->
        <td th:text="${room.id}">id</td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.country.name}"></td>
        <td width="250px" height="200"><a th:href="@{/room/{id} (id=${room.id})}">Open</a></td>
    </tr>
</table>

</body>
</html>