<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room manager</title>
    <link rel="stylesheet" th:href="@{/style-room.css}">
</head>

<body>
<table width="100%">
    <tr height="10px">
        <td align="center">Itspartner</td>
</table>
<main>
    <form>
        <input class="l" type="checkbox" th:checked="${room.stateLight.state}">
    </form>

</main>
<table width="100%">
    <tr height="10px">
        <td align="center">
            <form action="#"
                  th:action="@{/room/update/{id}(id=${room.id})}" method="post">
                <input type="submit" value="Кнопка">
            </form>
        </td>
    </tr>
    <tr>
        <td align="center">
            <form th:action="@{/index}">
                <input type="submit" value="Выйти" style="width:500px; height:150px;"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>